





h1 {
    font-size: 2rem;
}

#archivoCedulas {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
}



#resultados {
    margin-top: 20px;
}

#listaCedulas {
    list-style: none;
    padding: 0;
    margin: 0;
}

#listaCedulas li {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#mensaje {
    color: red;
    font-weight: bold;
}



.grupo {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    text-orientation: upright;
    width: 50px;
    text-align: center;
}