
body {
  font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-flex {
  display: flex;
  flex-grow: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
}
.container {
	background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
	flex-grow: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
}



h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#archivoCedulas {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darken(var(--primary-color), 10%);
}

#resultados {
  margin-top: 20px;
}

#listaCedulas {
  list-style: none;
  padding: 0;
  margin: 0;
}

#listaCedulas li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#mensaje {
  color: red;
  font-weight: bold;
}

/* Estilos para el footer */
footer {
    /*background-color: #f5f5f5;*/
	background-color: rgba(0, 0, 0, 0.1); /* Fondo negro con 50% de opacidad */
    padding: 10px;
    text-align: right;
}


