




h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#archivoCedulas {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
}



#resultados {
  margin-top: 20px;
}

#listaCedulas {
  list-style: none;
  padding: 0;
  margin: 0;
}



#mensaje {
  color: red;
  font-weight: bold;
}

/* Estilos para el footer */



