



#preguntas {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
}



.pregunta h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.pregunta label {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.pregunta input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

