

#miFormulario {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#preguntas {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
}

.pregunta {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    background: linear-gradient(to bottom, #90EE90, #3CB371);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.pregunta h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.pregunta label {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.pregunta input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}